@model CommerceBankOnlineBanking.Models.Transaction
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Add Transactions";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="addTransaction" asp-controller="Transaction" method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Action" class="control-label"></label>
                    <input asp-for="Action" class="form-control" />
                    <span asp-validation-for="Action" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
                            <p> <a asp-area="" asp-controller="Transaction" asp-action="Transactions">Back</a>
                </p>
            </form>
        </div>
    </div>
</div>
